@model WebAppNETMVC.DTO.UserBORequest
@{
    ViewBag.Title = "SignUp";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="panel-primary">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username" })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Create" />
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

